html {
    font-family: mr-eaves-xl, sans-serif;
    color: rgb(0, 139, 220);
    margin: 50px;
    margin-top: 0px;
    background-color: #F8EDD9;
    cursor:url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'  width='50' height='60' viewport='0 0 100 100' style='fill:black;font-size:30px;'><text y='50%'>👉</text></svg>") 16 0,auto; /*!emojicursor.app*/
}

.container {
    display: flex;
    gap: 75%;
    font-size: 12px;
    margin: 0;
    font-family: mr-eaves-xl-sans, sans-serif;
    font-weight: 400;
    font-style: normal;
  }

  .container:hover {
    cursor:url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'  width='50' height='60' viewport='0 0 100 100' style='fill:black;font-size:30px;'><text y='50%'>😱</text></svg>") 16 0,auto; /*!emojicursor.app*/
  }

.projects {
    position: fixed;
    text-align: center;
    font-size: 60px;
    top: 25%;
    left: 23%;
    line-height: 90px;
    font-style: normal;
    font-weight: 200;
}

.projects a {
    text-decoration: none;
    color: rgb(0, 139, 220);
}

a:hover {
    background-color:rgb(0, 139, 220);
    color: #F8EDD9;
    border-radius: 15px;
    cursor:url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'  width='50' height='60' viewport='0 0 100 100' style='fill:black;font-size:30px;'><text y='50%'>🤔</text></svg>") 16 0,auto; 
    /* !emojicursor.app */
}

