html {
    padding: 0;
    margin: 0;
    font-family: aktiv-grotesk-thin, sans-serif;
    font-weight: 100;
    color: black;
    background-color: white;
}

body {
    margin: 0;
}

.menu-container{
    font-family: aktiv-grotesk-extended, sans-serif;
    display: flex;
    justify-content: flex-end;
    color: black;
    font-size: 0.5vw;
    margin: 0;
    margin-left: 0;
    margin-right: 0;
    padding: 0;
    padding-right: 5%;
}

footer {
    padding: 2vw;
}

a:link {
    text-decoration: none;
    color: black;
  }
  
a:visited {
    text-decoration: none;
    color: black;
  }
  
a:hover {
    text-decoration: underline;
    color: black;
  }
  
a:active {
    text-decoration: underline;
    color: black;
  }

.item-3 {
    padding-right: 40px;
}

.item-3 a {
    text-decoration: none;
}

.item-3 a:hover {
    text-decoration: line-through;
}

.item-1 {
    padding-right: 40px;
}

.item-1 a:hover {
    text-decoration: line-through;
}

.item-2 {
    padding-right: 40px;
}

.item-4 {
    padding-right: 40px;
}

.item-4 a {
    text-decoration: none;
    color: black;
}

.item-4:hover {
    font-style: italic;
    text-decoration: line-through;
}

.item-3 a:hover {
    text-decoration: line-through;
}

.item-2 a:hover {
    text-decoration: line-through;
}

.item-1:active {
    text-decoration: none;
    color: rgb(111, 175, 235);
}

.item-1:hover {
    font-style: italic;
    color: rgb(111, 175, 235);
}

.item-2:hover {
    font-style: italic;
    color: rgb(111, 175, 235);
}

.item-3:hover {
    font-style: italic;
    color: rgb(111, 175, 235);
}

.project-list {
    font-size: 3vw;
    margin-left: 2vw;
}

.project-1:hover {
    /* border: 1px solid black; */
    text-decoration: line-through;
}

.project-1 a {
    text-decoration: none;
}

.project-2:hover {
    text-decoration: line-through;
}

.project-2 a {
    text-decoration: none;
}

.project-3:hover {
    text-decoration: line-through;
}

.project-3 a {
    text-decoration: none;
}

.project-4:hover {
    text-decoration: line-through;
}

.project-4 a {
    text-decoration: none;
}

.project-4:hover {
    text-decoration: line-through;
}

.project-5 a {
    text-decoration: none;
}

.project-5:hover {
    text-decoration: line-through;
}

.project-6 a {
    text-decoration: none;
}

.project-6:hover {
    text-decoration: line-through;
}

.project-7 a {
    text-decoration: none;
}

.project-7:hover {
    text-decoration: line-through;
}

.project-8 a {
    text-decoration: none;
}

.project-8:hover {
    text-decoration: line-through;
}

.project-9 a {
    text-decoration: none;
}

.project-9:hover {
    text-decoration: line-through;
}

.project-10 a {
    text-decoration: none;
}

.project-10:hover {
    text-decoration: line-through;
}

.project-11 a {
    text-decoration: none;
}

.project-11:hover {
    text-decoration: line-through;
}

.project-12 a {
    text-decoration: none;
}

.project-12:hover {
    text-decoration: line-through;
}

.project-13 a {
    text-decoration: none;
}

.project-13:hover {
    text-decoration: line-through;
}

hr {
    border: 1px solid black;
    width: 95vw;
}

footer {
    height: 5vw;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10vw;
}
 
.info-1 {
    font-family: aktiv-grotesk-thin, sans-serif;
    font-weight: 400;
    color: white;
    text-align: center;
}