html {
    background-color: black;
}

.title {
    font-family: aktiv-grotesk-extended, sans-serif;
    font-weight: 700;
    font-style: normal;
    color: white;
    font-size: 10vw;
    padding-left: 2vw;
    padding-top: 20vw;
    padding-bottom: 0;
    margin-bottom: 0;
    z-index: 1;
    animation: titleAnimation 3s infinite ease-in-out;
    animation-play-state: paused;
}

.title:hover {
    animation-play-state: running;
}

@keyframes titleAnimation {
    0% {
        color: orange;
    }
    25% {
        color: #AC2B2F;
    }
    50% {
        color: #569D3B;
    }
    75% {
        color: #96C4EB;
    }
    100% {
        color: #C89FF3;
    }
}

a:link {
    text-decoration: none;
    color: white;
  }
  
a:visited {
    text-decoration: none;
    color: white;
  }
  
a:hover {
    text-decoration: none;
    color: orange;
  }

a:active {
    text-decoration: none;
    color: white;
  }

.image-1 {
    width: 15vw;
    position: absolute;
    z-index: -1;
    right: 15vw;
    bottom: 2vw;
    filter: contrast(120%);
}

.image-7 {
    width: 18vw;
    position: absolute;
    z-index: -1;
    right: 8vw;
    bottom: 30vw;
    filter: contrast(110%);
}

.image-2 {
    width: 8vw;
    position: absolute;
    z-index: -1;
    right: 50vw;
    bottom: 30vw;
    filter: contrast(120%);
}

.image-3 {
    width: 11vw;
    position: absolute;
    z-index: 2;
    right: 45vw;
    bottom: 20vw;
    filter: contrast(130%);
}

.image-4 {
    width: 6vw;
    position: absolute;
    z-index: 2;
    right: 76vw;
    bottom: 11vw;
    filter: contrast(130%);
}

.image-5 {
    width: 10vw;
    position: absolute;
    z-index: 2;
    right: 83vw;
    bottom: 35vw;
    filter: contrast(130%);
}


/* 
.arrow-1 {
    width:120px;
    height: 30px;
    display: flex;
    color: white;
    z-index: 3;
    position: absolute;
    right: 6vw;
    bottom: 4.5vw;
  }

.arrow-1:before {
    content: "";
    background: currentColor;
    width:15px;
    clip-path: polygon(0 10px,calc(100% - 15px) 10px,calc(100% - 15px) 0,100% 50%,calc(100% - 15px) 100%,calc(100% - 15px) calc(100% - 10px),0 calc(100% - 10px));
    animation: arrowOne 2.2s infinite linear;
  }

  @keyframes arrowOne {
    90%,100%{flex-grow: 1}
  }

.arrow-1:hover {
    color: orange;
} */








