html {
    background-color: black;
}

.title {
    font-family: aktiv-grotesk-extended, sans-serif;
    font-weight: 700;
    font-style: normal;
    color: white;
    font-size: 10vw;
    padding-left: 2vw;
    padding-top: 20vw;
    padding-bottom: 0;
    margin-bottom: 0;
    z-index: 1;
}

.title:hover {
    cursor: pointer;
}

a:link {
    text-decoration: none;
    color: white;
  }
  
a:visited {
    text-decoration: none;
    color: white;
  }
  
a:hover {
    text-decoration: none;
  }

a:active {
    text-decoration: none;
    color: white;
  }

.image-1 {
    width: 15vw;
    position: absolute;
    z-index: -1;
    right: 15vw;
    bottom: 2vw;
    filter: contrast(120%);
}

.image-7 {
    width: 18vw;
    position: absolute;
    z-index: -1;
    right: 8vw;
    bottom: 30vw;
    filter: contrast(110%);
}

.image-2 {
    width: 8vw;
    position: absolute;
    z-index: -1;
    right: 50vw;
    bottom: 30vw;
    filter: contrast(120%);
}

.image-3 {
    width: 11vw;
    position: absolute;
    z-index: 2;
    right: 45vw;
    bottom: 20vw;
    filter: contrast(130%);
}

.image-4 {
    width: 6vw;
    position: absolute;
    z-index: 2;
    right: 76vw;
    bottom: 11vw;
    filter: contrast(130%);
}

.image-5 {
    width: 10vw;
    position: absolute;
    z-index: 2;
    right: 83vw;
    bottom: 35vw;
    filter: contrast(130%);
}

.photo-container {
    margin-bottom: 5vw;
}

#menu-container {
    color: white;
    font-family: aktiv-grotesk-thin, sans-serif;
    font-weight: 200;
    font-style: normal;
    font-size: 1.5vw;
    overflow: hidden;

}

#item-1 {
    margin-left: 3vw;
    
}

#item-1:hover {
    cursor: pointer;
    animation-play-state: running;
}

#item-2 {
    margin-left: 40vw;
}

#item-2:hover {
    cursor: pointer;
}

#item-3 {
    margin-left: 85vw;
}

#item-3:hover {
    cursor: pointer;
}

footer {
    padding: 2vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

.info {
    color: white;
    font-family: aktiv-grotesk-thin, sans-serif;
    font-weight: 200;
    font-style: normal; 
    font-size: 0.75vw;
    text-align: center;
    line-height: 25px;
}









