html {
    background-color: white;
    font-family: aktiv-grotesk, sans-serif;
    font-weight: 400;
    font-style: normal;
    color: black;
    font-size: 2vw;
    padding: 0;
    margin: 0;
    padding-bottom: 0;
    margin-bottom: 0;
  }

.menu {
  background-color: black;
  height: 5vw;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  margin-bottom: 2vw;
}

.menu-item1{
  font-family: aktiv-grotesk-extended, sans-serif;
  font-weight: 700;
  font-style: normal;
  color: white;
  font-size: 1.5vw;
}

a:link { 
  text-decoration: none;
  color: white;
 }


a:visited { 
  text-decoration: none;
  color: white;
 }


a:hover { 
  text-decoration: none;
  color: orange;
 }

a:active { 
    text-decoration: none;
    color: white;
}
  
body {
    margin: 0;
    padding: 0;
}

.video-container {

}

.video-items {
    padding-left: 60px;
    padding-top: 2vw;
}

.video-1 {
    /* border-radius: 40px; */
    /* filter: blur(10px); */
}

.video-1:hover {
    filter: none;
    cursor: pointer;
}

.video-2 {
    /* border-radius: 40px; */
    /* filter: blur(10px); */
}

.video-2:hover {
    filter: none;
    cursor: pointer;
}

.video-3 {
    /* border-radius: 40px; */
    /* filter: blur(10px); */
}

.video-3:hover {
    filter: none;
    cursor: pointer;
}

.video-4 {
    /* border-radius: 40px; */
    /* filter: blur(10px); */
}

.video-4:hover {
    filter: none;
    cursor: pointer;
}

.video-5 {
    /* border-radius: 40px; */
    /* filter: blur(10px); */
    
}

.video-5:hover {
    filter: none;
    cursor: pointer;
}

footer {
    padding: 2vw;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
    margin-top: 4vw;
}

.info {
    color: white;
    font-family: aktiv-grotesk-thin, sans-serif;
    font-weight: 200;
    font-style: normal; 
    font-size: 0.75vw;
    text-align: center;
    line-height: 25px;
}