html {
    background-color: white;
    font-family: aktiv-grotesk, sans-serif;
    font-weight: 400;
    font-style: normal;
    color: black;
    font-size: 2vw;
    padding: 0;
  }

.menu {
  background-color: black;
  height: 5vw;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
}

.menu-item1{
  font-family: aktiv-grotesk-extended, sans-serif;
  font-weight: 700;
  font-style: normal;
  color: white;
  font-size: 1.5vw;
}

a:link { 
  text-decoration: none; 
  color: white;
 }


a:visited { 
  text-decoration: none;
  color: white;
 }


a:hover { 
  text-decoration: none;
  color: orange;
 }


a:active { 
  text-decoration: none;
  color: white;
 }

body {
  margin: 0;
  padding: 0;
}

.js-reset {
  margin-left: 1vw;
  font-family: aktiv-grotesk, sans-serif;
  font-weight: 700 !important; 
  font-style: normal;
}

.js-reset:hover {
  font-style: italic;
}

.filter-container {
    padding-top: 2vw;
    position: relative;
    display: inline-block;
    width: 13vw;
    text-align: center;
    margin-left: 2vw;
}

.filters {
  display: none;
  position: absolute;
  z-index: 1;
}

.filter-container:hover .filters {
  display: block;
}
 
.dropdown {
  font-family: aktiv-grotesk, sans-serif;
  font-weight: 700;
  font-style: normal;
  background-color: white;
  padding: 0.6vw;
  border: 1px solid black;
  border-radius: 25px;
  color: black;
  font-size: 1.5vw;
  margin-bottom: 0.5vw;
}

.dropdown:hover {
  font-style: italic;
  cursor: pointer;
}

.bronx {
  font-family: aktiv-grotesk, sans-serif;
  font-weight: 400;
  font-style: normal;
  background-color: white;
  padding: 0.6vw;
  border: 1px solid black;
  border-radius: 25px;
  color: black;
  font-size: 1.5vw;
  margin-bottom: 0.5vw;
}
 
.bronx:hover {
  color: white;
  background: black;
  cursor: pointer;
}

.bronx:active {
  color: white;
  background: black;
}

.brooklyn {
  font-family: aktiv-grotesk, sans-serif;
  font-weight: 400;
  font-style: normal;
  background-color: white;
  border: 1px solid black;
  padding: 0.6vw;
  border-radius: 25px;
  color: black;
  font-size: 1.5vw;
  margin-bottom: 0.5vw;
}

.brooklyn:hover {
  color: white;
  background-color: black;
  cursor: pointer;
}

.brooklyn:active {
  color: white;
  background-color: green;
}

.brooklyn:focus {
  color: white;
  background-color: green;
}

.brooklyn:visited {
  color: white;
  background-color: green;
}

.queens {
  font-family: aktiv-grotesk, sans-serif;
  font-weight: 400;
  font-style: normal;
  background-color: white;
  border: 1px solid black;
  padding: 0.6vw;
  border-radius: 25px;
  color: black;
  font-size: 1.5vw;
  margin-bottom: 0.5vw;
}

.queens:hover {
  color: white;
  background-color: black;
  cursor: pointer;
}

.brooklyn:active {
  color: white;
  background: black;
}

.manhattan {
  font-family: aktiv-grotesk, sans-serif;
  font-weight: 400;
  font-style: normal;
  background-color: white;
  border: 1px solid black;
  padding: 0.6vw;
  border-radius: 25px;
  color: black;
  font-size: 1.5vw;
  margin-bottom: 0.5vw;
}

.manhattan:hover {
  color: white;
  background-color: black;
  cursor: pointer;
}

.manhattan:active {
  color: white;
  background: black;
}

.staten {
  font-family: aktiv-grotesk, sans-serif;
  font-weight: 400;
  font-style: normal;
  background-color: white;
  border: 1px solid black;
  padding: 0.6vw;
  border-radius: 25px;
  color: black;
  font-size: 1.5vw;
  margin-bottom: 0.5vw;
}

.staten:hover {
  color: white;
  background-color: black;
  cursor: pointer;
}

.staten:active {
  color: white;
  background: black;
}

.js-reset {
  font-family: aktiv-grotesk, sans-serif;
  font-weight: 400;
  font-style: normal;
  background-color: white;
  border: 1px solid black;
  padding: 0.6vw;
  border-radius: 25px;
  color: black;
  font-size: 1.5vw;
}

.js-reset:hover {
  color: white;
  background-color: black;
  cursor: pointer;
}

.js-reset:active {
  color: white;
  background: black;
}

/* GENRE FILTERS */

/* .genre-filter {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding-top: 1vw;
} */

.genre-container {
  padding-top: 2vw;
  position: relative;
  display: inline-block;
  width: 13vw;
  text-align: center;
  margin-left: 1vw;
}

.genre-filters {
  display: none;
  position: absolute;
  z-index: 1;
}

.genre-container:hover .genre-filters {
  display: block;
}

.genre-dropdown {
  font-family: aktiv-grotesk, sans-serif;
  font-weight: 700;
  font-style: normal;
  background-color: white;
  padding: 0.6vw;
  border: 1px solid black;
  border-radius: 25px;
  color: black;
  font-size: 1.5vw;
  margin-bottom: 0.5vw;
  animation: genreAnimation 2s linear infinite;
  animation-play-state: paused;
}

.genre-dropdown:hover {
  font-style: italic;
  cursor: pointer;
  animation-play-state: running;
}

/* @keyframes genreAnimation {
  0% {
    background-color: white;
  }
  25% {
    background-color: green;
  }
  50% {
    background-color: blue;
  }
  75% {
    background-color: orange;
  }
  100% {
    background-color: pink;
  }
} */

.pop {
  font-family: aktiv-grotesk, sans-serif;
  font-weight: 400;
  font-style: normal;
  background-color: white;
  padding: 0.6vw;
  border: 1px solid black;
  border-radius: 25px;
  color: black;
  font-size: 1.5vw;
}
 
.pop:hover {
  color: white;
  background: black;
  cursor: pointer;
}

.pop:active {
  color: white;
  background: black;
}

.rock {
  font-family: aktiv-grotesk, sans-serif;
  font-weight: 400;
  font-style: normal;
  background-color: white;
  padding: 0.6vw;
  border: 1px solid black;
  border-radius: 25px;
  color: black;
  font-size: 1.5vw;
}
 
.rock:hover {
  color: white;
  background: black;
  cursor: pointer;
}

.rock:active {
  color: white;
  background: black;
}

.rnb {
  font-family: aktiv-grotesk, sans-serif;
  font-weight: 400;
  font-style: normal;
  background-color: white;
  padding: 0.6vw;
  border: 1px solid black;
  border-radius: 25px;
  color: black;
  font-size: 1.5vw;
}
 
.rnb:hover {
  color: white;
  background: black;
  cursor: pointer;
}

.rnb:active {
  color: white;
  background: black;
}

.rap {
  font-family: aktiv-grotesk, sans-serif;
  font-weight: 400;
  font-style: normal;
  background-color: white;
  padding: 0.6vw;
  border: 1px solid black;
  border-radius: 25px;
  color: black;
  font-size: 1.5vw;
}
 
.rap:hover {
  color: white;
  background: black;
  cursor: pointer;
}

.rap:active {
  color: white;
  background: black;
}

.indie {
  font-family: aktiv-grotesk, sans-serif;
  font-weight: 400;
  font-style: normal;
  background-color: white;
  padding: 0.6vw;
  border: 1px solid black;
  border-radius: 25px;
  color: black;
  font-size: 1.5vw;
}
 
.indie:hover {
  color: white;
  background: black;
  cursor: pointer;
}

.indie:active {
  color: white;
  background: black;
}

.theatre {
  font-family: aktiv-grotesk, sans-serif;
  font-weight: 400;
  font-style: normal;
  background-color: white;
  padding: 0.6vw;
  border: 1px solid black;
  border-radius: 25px;
  color: black;
  font-size: 1.5vw;
}
 
.theatre:hover {
  color: white;
  background: black;
  cursor: pointer;
}

.theatre:active {
  color: white;
  background: black;
}

.folk {
  font-family: aktiv-grotesk, sans-serif;
  font-weight: 400;
  font-style: normal;
  background-color: white;
  padding: 0.6vw;
  border: 1px solid black;
  border-radius: 25px;
  color: black;
  font-size: 1.5vw;
}
 
.folk:hover {
  color: white;
  background: black;
  cursor: pointer;
}

.folk:active {
  color: white;
  background: black;
}

.wrapper {
    column-count: 3;
    column-gap: 50px;
    margin-top: 100px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
  }

.images {
  width: 25vw;
  height: auto;
  background-size: cover;
  border-radius: 50px;
  padding-bottom: 0;
}

.music-container {
  border: 2px solid black;
  border-radius: 53px;
  grid-row: 3;
  row-gap: 1vw;
  margin-top: 100px;
  display: grid;
  margin-top: 0.5vw;
  margin-bottom: 2vw;
  justify-items: center;
  align-items: center;
  /* flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center; */
}

.musician-name {
  font-size: 1.5vw;
  font-family: aktiv-grotesk-extended, sans-serif;
  font-weight: 700;
  font-style: normal;
  width: 25vw;
  margin-top: 0;
  display: none;
  text-align: center;
}

.musician-name.active {
  display: block;
}

.genre {
  font-size: 1.5vw;
  font-family: aktiv-grotesk, sans-serif;
  font-weight: 400;
  font-style: italic;
  width: 25vw;
  margin-top: 0;
  display: none;
  text-align: center;
}

.genre.active {
  display: block;
}

.description {
  font-size: 1vw;
  font-family: aktiv-grotesk, sans-serif;
  font-weight: 400;
  font-style: normal;
  width: 20vw;
  margin-top: 0;
  margin-right: 0;
  padding-right: 0;
  display: none;
  text-align: justify;
}

.description.active {
  display: block;
  width: 20vw;
  margin: 0;
  padding: 0;
}

.musician-street {
  font-family: aktiv-grotesk, sans-serif;
  font-weight: 400;
  font-style: normal;
  width: 20vw;
  margin-top: 0;
  display: none;
  text-align: center;
}

.musician-street.active {
  display: block;
}

.song-audio {
  display: block;
}

.song-audio.active {
  display: block;
}

footer {
  padding: 2vw;
  margin-bottom: 5vw;
}

.party-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.party-button {
  font-family: aktiv-grotesk, sans-serif;
  font-weight: 400;
  font-style: normal;
  background-color: white;
  padding: 0.6vw;
  border: 1px solid black;
  border-radius: 25px;
  color: black;
  font-size: 1.5vw;
  text-align: center;
  width: 25vw;
  animation: gradientHover 2s ease infinite;
  animation-play-state: paused;
}

.party-button:hover {
  padding: 0.6vw;
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  animation-play-state: running;
  cursor:url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'  width='46' height='55' viewport='0 0 100 100' style='fill:black;font-size:28px;'><text y='50%'>🕺✨ </text></svg>") 16 0,auto;
}

@keyframes gradientHover {
  0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

a.party-button:link { 
  text-decoration: none;
 }

a.party-button:visited { 
  text-decoration: none;
 }

a.party-button:hover { 
  text-decoration: none;
 }

a.party-button:active { 
  text-decoration: none;
 }

footer {
  padding-top: 2vw;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: black;
  margin-bottom: 0;
  padding-bottom: 2vw;
}

.info {
  color: white;
  font-family: aktiv-grotesk-thin, sans-serif;
  font-weight: 200;
  font-style: normal; 
  font-size: 0.75vw;
  text-align: center;
  line-height: 25px;
}
