html {
    padding: 0;
    margin: 0;
    font-family: garamond-premier-pro-subhead, serif;
    font-weight: 100;
    background-color: black;
}

.menu-container{
    display: flex;
    justify-content: flex-end;
    color: white;
    font-size: 0.75vw;
    margin: 0;
    margin-left: 0;
    margin-right: 0;
    padding: 0;
    padding-right: 5%;
}

.home {
    padding-right: 40px;
}

.home a {
    text-decoration: none;
    color: beige;
}

.home:hover {
    font-style: italic;
}

.item-1 {
    padding-right: 40px;
}

.item-1 a {
    text-decoration: none;
    color: beige;
}

.item-2 a {
    text-decoration: none;
    color: beige;
}

.item-1:active {
    text-decoration: none;
    color: beige;
}

.item-1:hover {
    font-style: italic;
}

.item-2:hover {
    font-style: italic;
}

.section-1 {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 2vw;
}

.video-10 {
    width: 60vw;
}

.video-10:hover {
    filter: drop-shadow(10px 10px 20px red) invert(75%);
}

.description {
    font-size: 1vw;
    font-family: aktiv-grotesk-thin, sans-serif;
    font-weight: 200;
    color: beige;
    padding-left: 70vw;
    padding-bottom: 2vw;
}

hr {
    border: 0.75px solid beige;
    width: 60vw;
}

.title {
    font-size: 5vw;
    color: beige;
    font-weight: 100;
    padding-left: 20vw;
    font-family: aktiv-grotesk-thin, sans-serif;
    font-weight: 200;
}

.title:hover {
    font-style: italic;
}

.section-3{
    display: flex;
    padding-left: 20vw;
}

.heading-1 {
    font-size: 2vw;
    color: beige;
    font-family: aktiv-grotesk-thin, sans-serif;
    font-weight: 200;
    padding-right: 7vw;
}

.heading-1:hover {
    font-family: aktiv-grotesk-thin, sans-serif;
    font-weight: 200;
    font-style: italic;
    font-size: 2vw;
}

.text {
    font-size: 1vw;
    color: beige;
    font-family: aktiv-grotesk-thin, sans-serif;
    font-weight: 200;
    width: 35vw;
    /* padding-left: 49.5vw; */
    line-height: 2vw;
    text-align: justify;
}

footer {
    padding: 2vw;
}

