html {
    padding: 0;
    margin: 0;
    font-family: garamond-premier-pro-subhead, serif;
    font-weight: 100;
    background-color: black;
}

footer {
    padding: 2vw;
}

.menu-container{
    display: flex;
    justify-content: flex-end;
    color: white;
    font-size: 0.75vw;
    margin: 0;
    margin-left: 0;
    margin-right: 0;
    padding: 0;
    padding-right: 5%;
}

.column {
    padding-left: 60px;
    padding-top: 2vw;
}

.home {
    padding-right: 40px;
}

.home a {
    text-decoration: none;
    color: beige;
}

.home:hover {
    font-style: italic;
}

.item-1 {
    padding-right: 40px;
}

.item-1 a {
    text-decoration: none;
    color: beige;
}

.item-2 a {
    text-decoration: none;
    color: beige;
}

.item-1:active {
    text-decoration: none;
    color: beige;
}

.item-1:hover {
    font-style: italic;
}

.item-2:hover {
    font-style: italic;
}

/* .video-1 {
    position: relative;
    filter: blur(10px);
} */

/* .video-1:hover .description-1{
    filter: none;
    visibility: visible;
}

.description-1 {
    font-size: 2vw;
    position: absolute;
    visibility: hidden;
    color: beige;
} */

.video-1:hover {
    filter: blur(10px);
}

.video-2:hover {
    filter: blur(10px);
}

.video-3:hover {
    filter: blur(10px);
}

.video-4:hover {
    filter: blur(10px);
}

.video-5:hover {
    filter: blur(10px);
}

.video-6:hover {
    filter: blur(10px);
}

.video-7:hover {
    filter: blur(10px);
}

.video-8:hover {
    filter: blur(10px);
}

.video-9:hover {
    filter: blur(10px);
}

.video-10:hover {
    filter: blur(10px);
}

.video-11:hover {
    filter: blur(10px);
}

.video-12:hover {
    filter: blur(10px);
}

.video-13:hover {
    filter: blur(10px);
}

.video-14:hover {
    filter: blur(10px);
}

.video-15:hover {
    filter: blur(10px);
}
