html, body {
  margin: 0;
  padding: 0;
  border: 0;
  font-family: 'Aktiv Grotesk';
  font-weight: 700;
  color: white;
  background-color: #121212;
}

canvas {
  display: block;
}

/* .artboard {
  width: 679px;
  height: 900px;
  background-color: red;
  margin-left: 30.30vw;
  margin-bottom: 0;
  padding-bottom: 0;
} */

.label-container {
  width: 18vw;
  height: 52vh;
  margin-left: 5vw;
  margin-top: 20vh;
  font-size: 6px;
  font-weight: 400;
  border: solid 1px white;
}

.title {
  padding-top: 0;
  margin-top: 1vh;
  margin-left: 1vw;
  font-family: 'Eiko';
  font-size: 2.5vw;
  margin-bottom: 1vh;
}

.description {
  font-size: 0.65vw;
  margin-left: 1vw;
  margin-bottom: 2vh;
  /* color: yellowgreen; */
}

.line {
  border: none;
  background: white;
  height: 10px;
  width: 16vw;
}

.line-2 {
  width: 16vw;
}

.line-3 {
  width: 16vw;
}

.line-4 {
  width: 16vw;
}

.line-5 {
  width: 16vw;
  margin-bottom: 2vh;
}

.color-picker {
  margin-left: 1vw;
  margin-top: 2.5vh;
}

.stroke-picker {
  margin-left: 1vw;
  margin-top: 2.5vh;
}

.text-spacing {
  margin-left: 1vw;
  margin-top: 2vh;
  margin-bottom: 3.5vh;
}

.text-size {
  margin-left: 1vw;
  margin-top: 2vh;
  margin-bottom: 3.5vh;
}

.slider {
  -webkit-appearance: none;
  width: 16%;
  height: 5px;
  border-radius: 5px;  
  background: white;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
  margin-left: 10px;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 15px;
  height: 15px;
  border-radius: 50%; 
  background: yellowgreen;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background: yellowgreen;
  cursor: pointer;
}

.footer-container {
  padding-top: 35vh;
  margin-bottom: 5vh;
  font-family: 'Eiko';
  font-size: 0.5vw;
  text-align: center;
}

a {
  text-decoration: none;
  color: white;
  font-size: 0.75vw;
  font-family: 'Eiko';
  margin-left: 6.5vw;
  border: 1px solid white;
  padding: 0.25vw;
}

/* 
.slider-container {
  margin-top: 50px;
  background: black;
  padding: 3vw;
} */

/* .textsize-container {
  display: flex;
  justify-content: center;
  align-items: center;
} */
/* 
.break {
  flex-basis: 100%;
  height: 0;
}

#textSizeSlider {
  padding-top: 0;
}

label {
  color: white;
} */