html {
    background-color: white;
    color: black;
    cursor: none;
}

body {
    margin: 0;
}

.menu {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-size: 0.75vw;
    padding: 50px;
    padding-top: 0;
    font-weight: 300;
    font-style: normal;
    background-color: white;
    padding-bottom: 0;
    overflow: hidden;
    /* position: fixed; */
    width: 95vw;
    /* border-bottom: 1px solid black; */
}

.menu a {
    float: left;
    display: block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }


.link {
    text-decoration: none;
}

.title-container {
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 2;
}

.title {
    font-size: 300px;
    text-align: center;  
    filter: blur(4px);  
    padding: 0;
    margin: 0;
    padding-top: 100px;
    color: black;
}

.title:hover {
    filter: none;
}

.text-1 {
    font-family: adobe-caslon-pro, serif;
    font-size: 1.75vw;
    display: flex;
    margin: 10%;
    margin-top: 1vw;
    text-align: justify;
    z-index: 2;
    pointer-events: none;
    transition: transform 0.1s linear;
    margin-bottom: 2vw;
    /* color: white; */
}

@media only screen and (max-width: 900px) {
    #circle-1{
        width: 200px;
        height: 200px;
    }
  }

@media only screen and (max-width: 600px) {
    #circle-1{
        width: 100px;
        height: 100px;
    }
  }

.hover {
    transition: all 0.3 ease;
}

.cursor {
    pointer-events: none;
    position: fixed;
    padding: 1em;
    background-color: #fff;
    border-radius: 50%;
    mix-blend-mode: difference;
    transition: transform 0.3s ease;
}

.hover:hover .cursor {
    transform: translate(-50%, -50%) scale(8);
}

.hover {
    width: 100%;
    padding: 20px 0;
    display: inline-block;
}
/* 
.section-2 {
    display: flex;
    justify-content: center;
    align-items: center;
} */

.next-page {
    display: flex;
    justify-content: center;
    align-items: center;
}

.button {
    font-size: 2vw;
    color: black;
    border: 1px solid black;
    border-radius: 50%;
    width: 3vw;
    height: 3vw;
    text-align: center;
    padding: 1vw;
    margin-right: 5vw;
}

.button:hover {
    background-color: black;
    color: white;
    cursor: pointer;
}

a.page-link:link {
    text-decoration: none; 
    color: black;
}

a.page-link:visited { 
    text-decoration: none; 
    color: black;
}
        
a.page-link:hover { 
    text-decoration: none; 
    color: white;
}
        
a.page-link:active { 
    text-decoration: none; 
    color: black;
}

.button-4 {
    font-size: 1.25vw;
    color: white;
    border: 1px solid black;
    border-radius: 50%;
    width: 3vw;
    height: 3vw;
    text-align: center;
    padding: 1vw;
  }
  
  .button-4:hover {
    background-color: black;
    color: white;
    cursor: pointer;
  }

footer {
    height: 10vw;
    background-color: black;
    margin-top: 5vw;
    color: white;
}
  

.credit-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.text {
    font-size: 1vw;
    font-family: adobe-caslon-pro, serif;
    font-weight: 400;
    font-style: normal;
    text-align: center;
    margin-top: 2.5vw;
    line-height: 1.5vw;
}