html {
    background-color: black;
}

body {
    margin: 0;
}

.menu {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-size: 0.75vw;
    padding: 50px;
    padding-top: 0;
    font-weight: 300;
    font-style: normal;
    background-color: black;
    padding-bottom: 0;
    overflow: hidden;
    /* position: fixed; */
    width: 95vw;
    color: white;
}

.menu a {
    float: left;
    display: block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    color: white;
}

.link {
    text-decoration: none;
    color: white;
}

.link:hover {
    cursor: pointer;
}

.title-container {
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 2;
}

.title {
    font-size: 300px;
    text-align: center;  
    filter: blur(4px);  
    padding: 0;
    margin: 0;
    padding-top: 15vw;
    color: white;
}

.title:hover {
    filter: none;
    cursor: pointer;
}

#passage-container {
    font-family: big-caslon-pro, serif;
    font-weight: 100;
    font-style: normal;
    text-align: justify;
    font-size: 2vw;
    margin: 10%;
    color: white;
}


.text-1 {
    font-size: 1vw;
    background-color: black;
    color: white;
    border: 1px solid white;
    width: 20vw;
    height: 20vw;
    border-radius: 50%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    filter: blur(4px);
}

.text-1:hover {
    cursor: pointer;
    background-color: white;
    color: black;
    transition: 0.3s;
    filter: none;
}


.text-2 {
    font-size: 1vw;
    background-color: black;
    color: white;
    border: 1px solid white;
    width: 20vw;
    height: 20vw;
    border-radius: 50%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    filter: blur(4px);
    margin-left: 45%;
}

.text-2:hover {
    cursor: pointer;
    background-color: white;
    color: black;
    transition: 0.3s;
    filter: none;
}


.text-3 {
    font-size: 1vw;
    background-color: black;
    color: white;
    border: 1px solid white;
    width: 20vw;
    height: 20vw;
    border-radius: 50%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    filter: blur(4px);
    margin-left: 20%;
    margin-top: 5vw;
}

.text-3:hover {
    cursor: pointer;
    background-color: white;
    color: black;
    transition: 0.3s;
    filter: none;
}

.text-4 {
    font-size: 1vw;
    background-color: black;
    color: white;
    border: 1px solid white;
    width: 20vw;
    height: 20vw;
    border-radius: 50%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    filter: blur(4px);
    margin-left: 65%;
}

.text-4:hover {
    cursor: pointer;
    background-color: white;
    color: black;
    transition: 0.3s;
    filter: none;
}

.text-5 {
    font-size: 1vw;
    background-color: black;
    color: white;
    border: 1px solid white;
    width: 20vw;
    height: 20vw;
    border-radius: 50%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    filter: blur(4px);
    margin-left: 5%;
}

.text-5:hover {
    cursor: pointer;
    background-color: white;
    color: black;
    transition: 0.3s;
    filter: none;
}


.text-6 {
    font-size: 1vw;
    background-color: black;
    color: white;
    border: 1px solid white;
    width: 20vw;
    height: 20vw;
    border-radius: 50%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    filter: blur(4px);
    margin-left: 75%;
}

.text-6:hover {
    cursor: pointer;
    background-color: white;
    color: black;
    transition: 0.3s;
    filter: none;
}

.text-7 {
    font-size: 1vw;
    background-color: black;
    color: white;
    border: 1px solid white;
    width: 20vw;
    height: 20vw;
    border-radius: 50%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    filter: blur(4px);
    margin-top: 10%;
}

.text-7:hover {
    cursor: pointer;
    background-color: white;
    color: black;
    transition: 0.3s;
    filter: none;
}


.text-8 {
    font-size: 1vw;
    background-color: black;
    color: white;
    border: 1px solid white;
    width: 20vw;
    height: 20vw;
    border-radius: 50%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    filter: blur(4px);
    margin-top: 0;
    margin-left: 30vw;
}

.text-8:hover {
    cursor: pointer;
    background-color: white;
    color: black;
    transition: 0.3s;
    filter: none;
}


.text-9 {
    font-size: 1vw;
    background-color: black;
    color: white;
    border: 1px solid white;
    width: 20vw;
    height: 20vw;
    border-radius: 50%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    filter: blur(4px);
    margin-left: 75%;
    margin-top: 10%;
    text-align: left;
}

.text-9:hover {
    cursor: pointer;
    background-color: white;
    color: black;
    transition: 0.3s;
    filter: none;
}

.text-10 {
    font-size: 1vw;
    background-color: black;
    color: white;
    border: 1px solid white;
    width: 20vw;
    height: 20vw;
    border-radius: 50%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    filter: blur(4px);
    margin-left: 30%;
    margin-top: 0;
}

.text-10:hover {
    cursor: pointer;
    background-color: white;
    color: black;
    transition: 0.3s;
    filter: none;
}

.text-11 {
    font-size: 1vw;
    background-color: black;
    color: white;
    border: 1px solid white;
    width: 20vw;
    height: 20vw;
    border-radius: 50%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    filter: blur(4px);
    margin-left: 0;
    margin-top: 5vw;
}

.text-11:hover {
    cursor: pointer;
    background-color: white;
    color: black;
    transition: 0.3s;
    filter: none;
}


.text-12 {
    font-size: 1vw;
    background-color: black;
    color: white;
    border: 1px solid white;
    width: 20vw;
    height: 20vw;
    border-radius: 50%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    filter: blur(4px);
    margin-left: 40vw;
}

.text-12:hover {
    cursor: pointer;
    background-color: white;
    color: black;
    transition: 0.3s;
    filter: none;
}

.text-13 {
    font-size: 1vw;
    background-color: black;
    color: white;
    border: 1px solid white;
    width: 20vw;
    height: 20vw;
    border-radius: 50%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 15%;
    filter: blur(4px);
}

.text-13:hover {
    cursor: pointer;
    background-color: white;
    color: black;
    transition: 0.3s;
    filter: none;
}

.text-14 {
    font-size: 1vw;
    background-color: black;
    color: white;
    border: 1px solid white;
    width: 20vw;
    height: 20vw;
    border-radius: 50%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 70%;
    filter: blur(4px);
}

.text-14:hover {
    cursor: pointer;
    background-color: white;
    color: black;
    transition: 0.3s;
    filter: none;
}

.text-15 {
    font-size: 1vw;
    background-color: black;
    color: white;
    border: 1px solid white;
    width: 20vw;
    height: 20vw;
    border-radius: 50%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 5%;
    filter: blur(4px);
}

.text-15:hover {
    cursor: pointer;
    background-color: white;
    color: black;
    transition: 0.3s;
    filter: none;
}

.text-16 {
    font-size: 1vw;
    background-color: black;
    color: white;
    border: 1px solid white;
    width: 20vw;
    height: 20vw;
    border-radius: 50%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 60%;
    filter: blur(4px);
}

.text-16:hover {
    cursor: pointer;
    background-color: white;
    color: black;
    transition: 0.3s;
    filter: none;
}

.text-17 {
    font-size: 1vw;
    background-color: black;
    color: white;
    border: 1px solid white;
    width: 20vw;
    height: 20vw;
    border-radius: 50%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 5%;
    filter: blur(4px);
}

.text-17:hover {
    cursor: pointer;
    background-color: white;
    color: black;
    transition: 0.3s;
    filter: none;
}

.text-18 {
    font-size: 1vw;
    background-color: black;
    color: white;
    border: 1px solid white;
    width: 20vw;
    height: 20vw;
    border-radius: 50%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 70%;
    margin-top: 10%;
    filter: blur(4px);
}

.text-18:hover {
    cursor: pointer;
    background-color: white;
    color: black;
    transition: 0.3s;
    filter: none;
}

.text-19 {
    font-size: 1vw;
    background-color: black;
    color: white;
    border: 1px solid white;
    width: 20vw;
    height: 20vw;
    border-radius: 50%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 20%;
    margin-top: 0;
    filter: blur(4px);
}

.text-19:hover {
    cursor: pointer;
    background-color: white;
    color: black;
    transition: 0.3s;
    filter: none;
}

.text-20 {
    font-size: 1vw;
    background-color: black;
    color: white;
    border: 1px solid white;
    width: 20vw;
    height: 20vw;
    border-radius: 50%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 65%;
    margin-top: 10%;
    filter: blur(4px);
}

.text-20:hover {
    cursor: pointer;
    background-color: white;
    color: black;
    transition: 0.3s;
    filter: none;
}

/* .section-2 {
    display: flex;
    justify-content: center;
    align-items: center;
} */

.next-page {
    display: flex;
    justify-content: center;
    align-items: center;
}

.button {
    font-size: 2vw;
    color: white;
    border: 1px solid white;
    border-radius: 50%;
    width: 3vw;
    height: 3vw;
    text-align: center;
    padding: 1vw;
    margin-right: 5vw;
}

.button:hover {
    background-color: white;
    color: black;
    cursor: pointer;
}

a.page-link:link {
    text-decoration: none; 
    color: white;
}

a.page-link:visited { 
    text-decoration: none; 
    color: white;
}
        
a.page-link:hover { 
    text-decoration: none; 
    color: black;
}
        
a.page-link:active { 
    text-decoration: none; 
    color: white;
}

.button-4 {
    font-size: 1.25vw;
    color: black;
    border: 1px solid white;
    border-radius: 50%;
    width: 3vw;
    height: 3vw;
    text-align: center;
    padding: 1vw;
  }
  
  .button-4:hover {
    background-color: white;
    color: black;
    cursor: pointer;
  }

/* button */

.center-con {
    display: flex;
    align-items: center;
    justify-content: center;
}

.round {
    /* position: absolute; */
    border: 2px solid white;
    background-color: black;
    width: 5vw;
    height: 5vw;
    border-radius: 100%;
    margin-left: 47%;
    margin-bottom: 5vw;
}

#cta{
    width:100%; 
    cursor: pointer; 
    position: absolute;
}

#cta .arrow{
    left: 1.5%;
}

.arrow {
    position: absolute; 
    /* bottom: 0;   */
    /* margin-left:0;  */
    width: 2vw; 
    height: 2vw; 
    background-size: contain; 
    top: 1.5vw;
}

.segunda{
    margin-left: 1vw;
}

.next {
	background-image: url(data:image/svg+xml;base64,PHN2ZyBpZD0iTGF5ZXJfMSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB2aWV3Qm94PSIwIDAgNTEyIDUxMiI+PHN0eWxlPi5zdDB7ZmlsbDojZmZmfTwvc3R5bGU+PHBhdGggY2xhc3M9InN0MCIgZD0iTTMxOS4xIDIxN2MyMC4yIDIwLjIgMTkuOSA1My4yLS42IDczLjdzLTUzLjUgMjAuOC03My43LjZsLTE5MC0xOTBjLTIwLjEtMjAuMi0xOS44LTUzLjIuNy03My43UzEwOSA2LjggMTI5LjEgMjdsMTkwIDE5MHoiLz48cGF0aCBjbGFzcz0ic3QwIiBkPSJNMzE5LjEgMjkwLjVjMjAuMi0yMC4yIDE5LjktNTMuMi0uNi03My43cy01My41LTIwLjgtNzMuNy0uNmwtMTkwIDE5MGMtMjAuMiAyMC4yLTE5LjkgNTMuMi42IDczLjdzNTMuNSAyMC44IDczLjcuNmwxOTAtMTkweiIvPjwvc3ZnPg==);
}

@keyframes bounceAlpha {
  0% {
      opacity: 1; 
      transform: translateX(0px) scale(1);
    }
  25%{
      opacity: 0; 
      transform:translateX(10px) scale(0.9);
    }
  26%{
      opacity: 0; 
      transform:translateX(-10px) scale(0.9);
    }
  55% {
      opacity: 1; 
      transform: translateX(0px) scale(1);
    }
}

.bounceAlpha {
    animation-name: bounceAlpha;
    animation-duration:1.4s;
    animation-iteration-count:infinite;
    animation-timing-function:linear;
}

.arrow.primera.bounceAlpha {
    animation-name: bounceAlpha;
    animation-duration:1.4s;
    animation-delay:0.2s;
    animation-iteration-count:infinite;
    animation-timing-function:linear;
}

.round:hover .arrow{
    animation-name: bounceAlpha;
    animation-duration:1.4s;
    animation-iteration-count:infinite;
    animation-timing-function:linear;
}
.round:hover .arrow.primera{
    animation-name: bounceAlpha;
    animation-duration:1.4s;
    animation-delay:0.2s;
    animation-iteration-count:infinite;
    animation-timing-function:linear;
}

footer {
    height: 10vw;
    background-color: white;
    margin-top: 5vw;
    color: black;
}
  

.credit-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.text {
    font-size: 1vw;
    font-family: adobe-caslon-pro, serif;
    font-weight: 400;
    font-style: normal;
    text-align: center;
    margin-top: 2.5vw;
    line-height: 1.5vw;
}