html {
    padding: 0;
    margin: 0;
    font-family: aktiv-grotesk-thin, sans-serif;
    font-weight: 100;
    font-style: normal;
    color: red;
    background-color: white;
}

body {
    margin: 0;
}

.menu-container{
    display: flex;
    font-size: 0.5vw;
    margin: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    padding: 0;
    padding-right: 5%;
    border-radius: 6vw;
    margin-top: 1vw;
    margin-right: 2vw;
    margin-left: 3vw;
    color: red;
    font-family: aktiv-grotesk-extended, sans-serif;
    font-weight: 100;
    font-style: normal;
}

.logo {
    font-family: aktiv-grotesk-extended, sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 3vw;
    margin-right: 60vw;
    margin-left: 1vw;
    margin-top: 1vw;
    color: red;
}

.logo:hover {
    cursor: pointer;
    color: white;
    -webkit-text-stroke: 1.25px red;}

a:link { 
    text-decoration: none; 
    color: red;
}

a:visited { 
    text-decoration: none; 
    color: red;
}
        
a:hover { 
    text-decoration: none; 
    color: red;
}
        
a:active { 
    text-decoration: none; 
    color: red;
}

.item-1 {
    margin-right: 2.5vw;
    margin-top: 2vw;
}

.item-1:hover {
    font-style: italic;
    text-decoration: wavy underline;
    cursor: pointer;
}

.item-2 {
    margin-right: 2.5vw;
    margin-top: 2vw;
}

.item-2:hover {
    font-style: italic;
    text-decoration: wavy underline;
    cursor: pointer;
}

.item-3 {
    margin-right: 2.5vw;
    margin-top: 2vw;
}

.item-3:hover {
    font-style: italic;
    text-decoration: wavy underline;
    cursor: pointer;
}

.item-4 {
    margin-right: 2.5vw;
    margin-top: 2vw;
}

.item-4:hover {
    font-style: italic;
    text-decoration: wavy underline;
    cursor: pointer;
}

.character1-holder {
    margin-top: 5vw;
    display: block;
}

.image-1 {
    width: 25vw;
    margin-left: 35vw;
}

.box-1 {
    background-color:lightpink;
    color: black;
    font-family: aktiv-grotesk-thin, sans-serif;
    font-weight: 100;
    font-style: normal;
    width: 25vw;
    padding: 1vw;
    border: 2.5px solid black;
    margin-left: 20vw;
    cursor: pointer;
}

.title {
    font-family: aktiv-grotesk-extended, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1vw;
}

.description {
    font-family: aktiv-grotesk-thin, sans-serif;
    font-weight: 400;
    font-style: normal;
    text-align: justify;
}

.image-2 {
    width: 25vw;
}

.box-2 {
    background-color:dodgerblue;
    color: black;
    font-family: aktiv-grotesk-thin, sans-serif;
    font-weight: 100;
    font-style: normal;
    width: 25vw;
    padding: 1vw;
    border: 2.5px solid black;
    margin-left: 50vw;
    cursor: pointer;
    margin-top: 2vw;
}

.image-3 {
    width: 25vw;
}

span:nth-child(1){
    margin-bottom: 2vw;
}

a.link-1:link { 
    text-decoration: none; 
    color: black;
}

a.link-1:visited { 
    text-decoration: none; 
    color: black;
}
        
a.link-1:hover { 
    text-decoration: none; 
    color: black;
    text-decoration: wavy underline;

}
        
a.link-1:active { 
    text-decoration: none; 
    color: black;
}

.box-3 {
    background-color:khaki;
    color: black;
    font-family: aktiv-grotesk-thin, sans-serif;
    font-weight: 100;
    font-style: normal;
    width: 15vw;
    padding: 1vw;
    border: 2.5px solid black;
    margin-left: 30vw;
    cursor: pointer;
    margin-top: 2vw;
}

footer {
    height: 10vw;
    background-color: black;
    margin-top: 10vw;
    color: white;
}

.credit-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.text {
    font-size: 1vw;
    font-family: aktiv-grotesk-extended, sans-serif;
    font-weight: 100;
    text-align: center;
    margin-top: 2.5vw;
    line-height: 1.5vw;
}