body {
    font-family: monospace;
    background-color: #182E19;
    color: #E7D0DB;
}

.container {
    display: flex;
}

.row-1 {
    width: 100%;
    font-style: normal;
    font-size: 2vw;
    text-align: center;
    justify-items: center;
}

.row-2 {
    width: 100%;
    writing-mode: vertical-lr;
    text-align: right;
    line-height: 50px;
    font-size: 1.5vw;
    text-decoration: 1px underline;
    margin-top: 50px;
    margin-left: 60px;
}

.item2 {
    font-size: 1vw;
    font-style: italic;
}

