body {
    font-family: monospace;
    background-color: #B79083;
    color: #F9E1BA;
}

.wrapper {
    display: flex;
    flex-wrap: wrap;
}

.container-1 {
    width: 40%;
    display: flex;
    justify-content: center;
    font-size: 2vw;
    /* border: 1px solid green; */
}

.column-1 {
    writing-mode: vertical-lr;
    align-items: center;
}

.container-2 {
    display: block;
    /* border: 1px solid green; */
    justify-content: center;
    font-size: 2vw;
    text-align: right;
}

.container-3 {
    width: 60%;
    font-size: 2vw;
    display: block;
    /* border: 1px solid green; */
    padding-top: 50px;
    padding-left: 100px;
}

.item2 {
    font-size: 1vw;
}

.container-4 {
    writing-mode: vertical-lr;
    align-items: center;
    font-size: 2vw;
    text-align: right;
    /* border: 1px solid green; */
}

