html {
    background-color: black;
    cursor: pointer;
}

.menu-container {
    font-family: 'Eiko';
    font-weight: 700;
    font-style: normal;
    color: white;
    display: flex;
    font-size: 0.6vw;
    justify-content: space-between;
    padding: 1vw;
    padding-top: 0;
    padding-bottom: 0;
}

.grid-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2vh;
}

.credits-container {
    font-family: "Eiko";
    font-weight: 100;
    font-style: normal;
    color: white;
    font-size: 0.5vw;
    text-align: center;
}