html {
    background-color: white;
    color: black;
    /* font-family: adobe-caslon-pro, serif; */
    overflow: hidden;
    margin:0;
}

body {
    margin:0;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(10, auto);
    grid-template-rows: repeat(10, 100px);
    height: 90vh;
    width: 100vw;
}

.night {
    background-color: black;
    color: white;
    height:100vh;
}

.white {
    color:white !important;
}

.white-1 {
    background-color: white !important;
}

.black {
    color: black !important;
}

.buttonOn {
    color:white;
}

.button {
    color: black;
    background: none;
    border: none;
    display: flex;
    flex-direction: column;
    text-align: right;
    font-size: 2vw;
}

.heading-1 {
    font-size: 14vw;
    grid-column-start: 4;
    grid-column-end: 6;
    grid-row-start: 2;
    grid-row-end: 6;
    line-height: 16vw;
    padding-left: 20px;
    padding-top: 100px;
}

.heading-1 a {
    text-decoration: none;
    color: black;
}

.heading-1 a:hover {
    filter: blur(4px);
}

/* .one {
    display: none;
}

.character-1:hover .one {
    display: none;
}

.character-1:hover .one {
    display: inline;
    font-size: 100px;
    color: white;
    background-color: black;
    width: 50px;
    height: 50px;
    border-radius: 50%;
} */

.text-1 {
    font-size: 2.5vw;
    grid-column-start: 10;
    grid-column-end: 11;
    padding-left: 200px;
    padding-top: 20px;
    color: white;
    z-index: 1;
}

.text-2 {
    font-size: 2.5vw;
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 2;
    z-index: 1;
    padding-left: 100px;
    color: white;
    z-index: 1;
}

.text-3 {
    font-size: 2.5vw;
    grid-column-start: 9;
    grid-row-start: 4;   
    padding-left: 50px;
    color: white;
    z-index: 1;
    padding-left: 200px;
}

.text-4 {
    font-size: 2.5vw;
    grid-column-start: 9;
    grid-row-start: 8;
    color: white;
    z-index: 1;
    /* color: white; */
}

.circle-1 {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    background-color: black;
    position: absolute;
    top: -20%;
    z-index: 0;
    animation: circleFall1 11s ease-out infinite;
    filter: blur(4px);
}

@keyframes circleFall1 {
    0% {
        position: default;
    }
    100% {
        transform: translateY(500%);
    }
}

.circle-2 {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    background-color: black;
    position: absolute;
    top: -20%;
    left: 50%;
    z-index: 0;
    animation: circleFall2 13s ease-out infinite;
    filter: blur(4px);
}

@keyframes circleFall2 {
    0% {
        position: default;
    }
    100% {
        transform: translateY(700%);
    }
}
.circle-3 {
    width: 300px;
    height: 300px;
    border-radius: 50%; 
    background-color: black; 
    position: absolute;
    top: -20%;
    left: 60%;
    z-index: 0;
    animation: circleFall3 14s ease-out infinite;
    filter: blur(4px);
}

@keyframes circleFall3 {
    0% {
        position: default;
    }
    100% {
        transform: translateY(500%);
    }
}

.circle-4 {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    background-color: black;
    position: absolute;
    top: -50%;
    left: 80%;
    z-index: 0;
    animation: circleFall4 15s ease-out infinite;
    filter: blur(4px);
}

@keyframes circleFall4 {
    0% {
        position: default;
    }
    100% {
        transform: translateY(500%);
    }
}

@media only screen and (max-width: 600px) {
    .grid-container {
        grid-template-columns: repeat(10,10);
        /* background-color:yellow; */
    }
    .text-1,.text-2,.text-3,.text-4 {
        font-size:30px;
        /* color:red; */
    }
    .heading-1 {
        font-size: 100px;
        line-height: 120px;
    }
    .circle {
        width: 200px;
        height: 200px;
    }
    .button-1 {
        font-size: 30px;
    }
  }


button {
    border: none;
    background-color: transparent;
    font-size: 2vw;
    z-index: 2;
    grid-column-start: 10;
    grid-row-start: 9;
    padding-left: 250px;
    z-index: 1;
    font-family: adobe-caslon-pro, serif;
}

#button-1:hover {
    cursor: pointer;
    font-family: park-lane, serif;
    font-weight: 300;
    font-style: normal;
}

.round {
    position: absolute;
    border: 2px solid #fff;
    width: 40px;
    height: 40px;
    border-radius: 100%;
    
}

#cta{
    width:100%; cursor: pointer; position: absolute;
}

#cta .arrow{left: 30%;}
.arrow {position: absolute; bottom: 0;  margin-left:0px; width: 12px; height: 12px; background-size: contain; top:15px;}
.segunda{margin-left: 8px;}
.next {
	background-image: url(data:image/svg+xml;base64,PHN2ZyBpZD0iTGF5ZXJfMSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB2aWV3Qm94PSIwIDAgNTEyIDUxMiI+PHN0eWxlPi5zdDB7ZmlsbDojZmZmfTwvc3R5bGU+PHBhdGggY2xhc3M9InN0MCIgZD0iTTMxOS4xIDIxN2MyMC4yIDIwLjIgMTkuOSA1My4yLS42IDczLjdzLTUzLjUgMjAuOC03My43LjZsLTE5MC0xOTBjLTIwLjEtMjAuMi0xOS44LTUzLjIuNy03My43UzEwOSA2LjggMTI5LjEgMjdsMTkwIDE5MHoiLz48cGF0aCBjbGFzcz0ic3QwIiBkPSJNMzE5LjEgMjkwLjVjMjAuMi0yMC4yIDE5LjktNTMuMi0uNi03My43cy01My41LTIwLjgtNzMuNy0uNmwtMTkwIDE5MGMtMjAuMiAyMC4yLTE5LjkgNTMuMi42IDczLjdzNTMuNSAyMC44IDczLjcuNmwxOTAtMTkweiIvPjwvc3ZnPg==);
}

@keyframes bounceAlpha {
  0% {opacity: 1; transform: translateX(0px) scale(1);}
  25%{opacity: 0; transform:translateX(10px) scale(0.9);}
  26%{opacity: 0; transform:translateX(-10px) scale(0.9);}
  55% {opacity: 1; transform: translateX(0px) scale(1);}
}

.bounceAlpha {
    animation-name: bounceAlpha;
    animation-duration:1.4s;
    animation-iteration-count:infinite;
    animation-timing-function:linear;
}

.arrow.primera.bounceAlpha {
    animation-name: bounceAlpha;
    animation-duration:1.4s;
    animation-delay:0.2s;
    animation-iteration-count:infinite;
    animation-timing-function:linear;
}

.round:hover .arrow{
    animation-name: bounceAlpha;
    animation-duration:1.4s;
    animation-iteration-count:infinite;
    animation-timing-function:linear;
}
.round:hover .arrow.primera{
    animation-name: bounceAlpha;
    animation-duration:1.4s;
    animation-delay:0.2s;
    animation-iteration-count:infinite;
    animation-timing-function:linear;
}
