html {
    background-color: white;
    color: black;
    font-family: adobe-caslon-pro, serif;
    overflow: hidden;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(10, auto);
    grid-template-rows: repeat(10, 100px);
    height: 90vh;
}

.heading-1 {
    font-size: 14vw;
    grid-column-start: 4;
    grid-column-end: 6;
    grid-row-start: 3;
    grid-row-end: 6;
    line-height: 16vw;
    padding-left: 20px;
    padding-top: 30px;
}

.text-1 {
    font-size: 2vw;
    grid-column-start: 10;
    grid-column-end: 11;
    padding-left: 200px;
    padding-top: 20px;
    color: white;
    z-index: 1;
}

.text-2 {
    font-size: 2vw;
    grid-column-start: 2;
    grid-column-end: 5;
    grid-row-start: 2;
    z-index: 1;
    color: white;
    z-index: 1;
}

.text-3 {
    font-size: 2vw;
    grid-column-start: 10;
    grid-row-start: 6;   
    padding-left: 50px;
    color: white;
    z-index: 1;
}

.text-4 {
    font-size: 2vw;
    grid-column-start: 7;
    grid-row-start: 9;
    color: white;
    z-index: 1;
    /* color: white; */
}

/* .circles {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: white;
    position: absolute;
} */

/* .circles-grid {
    display: grid;
    grid-template-columns: repeat(10, auto);
    grid-template-rows: repeat(10, 100px); 
    height: 90vh;
} */

.circle-1 {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    background-color: black;
    position: absolute;
    top: -20%;
    z-index: 0;
    animation: circleFall1 10s ease-out infinite;
    filter: blur(4px);
    /* grid-column-start: 2;
    grid-row-start: 1; */
}

@keyframes circleFall1 {
    0% {
        position: default;
    }
    100% {
        transform: translateY(500%);
    }
}

.circle-2 {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    background-color: black;
    position: absolute;
    top: -20%;
    left: 50%;
    z-index: 0;
    animation: circleFall2 10s ease-out infinite;
    filter: blur(4px);
}

@keyframes circleFall2 {
    0% {
        position: default;
    }
    100% {
        transform: translateY(700%);
    }
}
.circle-3 {
    width: 300px;
    height: 300px;
    border-radius: 50%; 
    background-color: black; 
    position: absolute;
    top: -20%;
    left: 70%;
    z-index: 0;
    animation: circleFall3 10s ease-out infinite;
    filter: blur(4px);
}

@keyframes circleFall3 {
    0% {
        position: default;
    }
    100% {
        transform: translateY(500%);
    }
}

.circle-4 {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    background-color: black;
    position: absolute;
    top: -50%;
    left: 80%;
    z-index: 0;
    animation: circleFall4 15s ease-out infinite;
    filter: blur(4px);
}

@keyframes circleFall4 {
    0% {
        position: default;
    }
    100% {
        transform: translateY(500%);
    }
}
 

button {
    color: black;
    background: none;
    border: none;
    font-family: adobe-caslon-pro, serif;
    font-size: 1.5vw;
    grid-column-start: 10;
    grid-row-start: 9;
    padding-left: 300px;
}